<div class="login-container">
<mat-card>
    <mat-card-header>
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form class="login-form" (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
            
            <mat-form-field appearance="outline" class="full-width">    
                <mat-label>Username</mat-label>
                <input matInput type="email" placeholder="UserName" name="username" [(ngModel)]="username" required>

                <mat-icon matSuffix>email</mat-icon>
            </mat-form-field>

            <mat-form-field appearance="outline" class="full-width">
                <mat-label>Password</mat-label>
                <input matInput [type]="hidePassword ? 'password' : 'text'" placeholder="Password" name="password" [(ngModel)]="password" required>
                <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" type="button">
                    <mat-icon>{{ hidePassword ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
            </mat-form-field>

           <button mat-flat-button color="primary" type="submit" [disabled]="!username || !password">Login</button>
            <p class="register-link">Not yet Registered? <a routerLink="/register">Register here</a></p>
        </form>
    </mat-card-content>
</mat-card>
</div>